<div class="col-sm-12">
    <div class="row">
        <div class="top-bg">
            <div class="row">
                <div class="col-sm-3">
                    <span class="logo">ez<span style="color: #00E03F">pay</span></span>
                </div>
                <div class="col-sm-9" style="padding-right: 40px; text-align:right;">
                    <button class="button rounded" data-ng-click="url('home_list')">Иргэн</button>
                    <button class="button rounded" data-ng-click="url('corporate_list')">Байгууллага</button>
                </div>
            </div>
            <div class="col-sm-3">
                <span class="high">$</span>
            </div>
            <div class="col-sm-9">
                <div style="margin-top: 130px;">
                    <h2 style="color:#fff; font-size: 50px;">Төлбөр тооцооны цоо шинэ боломж.</h2>
                    <br>
                    <p style="color: #fff; font-size: 16px;">Donec in tellus auctor, lacinia purus ut, vestibulum enim. Duis vestibulum lacinia vestibulum. Nam tincidunt venenatis convallis. Sed at est convallis, facilisis erat a, ornare est. Aliquam sit amet dui non mauris fermentum malesuada. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 middle-bg">
    <div class="row">
        <div style="padding: 80px; padding-left: 150px; font-size: 16px;">
            <h2>Хурдан бөгөөд хялбар.</h2>
            <br>
            <p>Cras ac justo mattis, tempor tortor vel, tincidunt ante. Ut eros ligula, volutpat ullamcorper sapien eget, ultricies interdum diam. Ut ac dictum ipsum. Proin posuere tincidunt maximus. Ut dapibus diam velit. Duis nisl est, faucibus nec elit a, condimentum placerat eros. Praesent et eros mi.</p>
            <br>
            <div style="font-size: 26px;">
                <div class="button">Хэрхэн ажилладаг вэ ?</div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 middle-bg">
    <div class="row">
        <div style="width: 100%; text-align: center;">
            <img src='assets/img/phone-credit-card-cut-400x466.png' height='400px' style='margin-top:50px'/>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="row">
        <div class="anywhere"></div>
    </div>
</div>
<div class="col-sm-6 middle-bg-white">
    <div class="row">
        <div style="padding: 120px; font-size: 16px;">
            <h2>Хэзээ ч, хаана ч.</h2>
            <br>
            <p>Aenean accumsan, augue et consectetur mollis, purus velit convallis risus, ultricies rutrum mi risus eu mi. Proin auctor, ipsum sit amet dictum ullamcorper, mi massa iaculis eros, eget dapibus mi tortor eu dui. Mauris id felis sed augue porttitor facilisis pellentesque eu ligula.</p>
        </div>
    </div>
</div>
<div class="col-sm-6 middle-bg">
    <div class="row">
        <div style="padding: 80px; padding-left: 150px; font-size: 16px;">
            <h2>Аюулгүй байдал.</h2>
            <br>
            <p>Donec condimentum lacinia tincidunt. Vestibulum pellentesque vitae nibh eget condimentum. Aliquam in semper dui, ac mattis tortor. Phasellus at blandit justo, id maximus sapien. Fusce iaculis, mi vitae euismod accumsan, tortor augue ultricies lorem, non pretium ex lectus vitae erat. Vestibulum ultrices.</p>
        </div>
    </div>
</div>
<div class="col-sm-6 middle-bg">
    <div class="row">
        <div style="width: 100%; text-align: center;">
            <img src='assets/img/phone-login-cut-400x466.png' height='400px' style='margin-top:50px'/>
        </div>
    </div>
</div>
<